<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="IMAPUserName" value="eric.t.eriksson@gmail.com"/>
    <add key="IMAPPassword" value="WwdXg7K5RiIe"/>
    <add key="IMAPServer" value="imap.gmail.com"/>
  </appSettings>
</configuration>